apiVersion: apps/v1
kind: Deployment
metadata:
  name: analytics
  namespace: pizza-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: analytics
  template:
    metadata:
      labels:
        app: analytics
    spec:
      containers:
      - name: analytics
        image: pizza-analytics:latest
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: analytics
  namespace: pizza-app
spec:
  selector:
    app: analytics
  ports:
    - port: 80
      targetPort: 8080
