apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth
  namespace: pizza-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
      - name: auth
        image: pizza-auth:latest
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: auth
  namespace: pizza-app
spec:
  selector:
    app: auth
  ports:
    - port: 80
      targetPort: 8080
