apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalog
  namespace: pizza-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: catalog
  template:
    metadata:
      labels:
        app: catalog
    spec:
      containers:
      - name: catalog
        image: pizza-catalog:latest
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: catalog
  namespace: pizza-app
spec:
  selector:
    app: catalog
  ports:
    - port: 80
      targetPort: 8080
