apiVersion: apps/v1
kind: Deployment
metadata:
  name: kitchen
  namespace: pizza-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kitchen
  template:
    metadata:
      labels:
        app: kitchen
    spec:
      containers:
      - name: kitchen
        image: pizza-kitchen:latest
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: kitchen
  namespace: pizza-app
spec:
  selector:
    app: kitchen
  ports:
    - port: 80
      targetPort: 8080
