apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification
  namespace: pizza-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification
  template:
    metadata:
      labels:
        app: notification
    spec:
      containers:
      - name: notification
        image: pizza-notification:latest
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: notification
  namespace: pizza-app
spec:
  selector:
    app: notification
  ports:
    - port: 80
      targetPort: 8080
